@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import "variables";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color:$first-color;
    background:$body-color;
}

a{
    text-decoration: none;
    color: $first-color-alt;
}
input,button{
    border:none;
}

input{
    outline: none;
}


.content-container{
   max-width: 375px; 
   display:flex;
   align-items: center;
   justify-content: center;
}


.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:800px;
    position:relative;

    .header{ 
        height:60px; 
        display:flex;
        align-items: center;
        img{
            height: 20px;
            padding-left:30px;
        }
    }

    .main{
        .content{

            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 30px;
        
            h1{
                font-size: $biggest-font-size;
                letter-spacing: .5rem;
                line-height: 2.75rem;
            }
            h1:first-child{
                font-weight: $font-light;
            }
            h1:nth-child(2), h1:nth-child(3){
                color:$first-color-alt;
            }
            p{
                text-align: center;
                padding-top:20px;
                padding-bottom: 30px;
                line-height: 1.5rem;
            }
            .input{       
                width:100%;
                margin-bottom: 50px;
                position: relative;
                ::placeholder{
                    color:$first-color;
                    opacity:0.5;
                    font-size: $normal-font-size;
                }
                input{
                    border: 0.5px solid hsla(0, 36%, 70%, .3);
                    border-radius: 30px;
                    width:100%;
                    padding:10px 20px;    
                    background: transparent;   
                    position:relative; 
                }
                button{
                    position: absolute;
                    right:10px;
                    top:0;
                    background: $button-color;
                    height:38px;
                    width:60px;
                    border-radius: 20px;       
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }
        }
        .footer{
            margin:0;
            .attribution { 
                font-size: $smaller-font-size; 
                text-align: center; 
                padding:5px;
            }
        }
    }
}

@media screen and (min-width:376px){
    .content-container{
        max-width:100vw;
    }
    .banner{  
        height:320px;
        width:100%;

        img{
            height:100%;
            width:100%;
            object-fit: cover;
            object-position: top;
            
        }
    }
}

@media screen and (max-width: 767.89px) {
    .banner{  
        position:absolute;
        top:60px;
        img{
            display:block;
            max-width: 100%;    
        }
    }
}

@media  screen and (min-width: 768px) {

    .container{
        height: 100vh;
        width:100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background:$body-color;
    }
    .content-container{
        max-width: 1400px; 
        border-radius: 10px; 
        //border: 0.5px solid hsl(0, 80%, 86%);
    }

    .banner{
        min-height: 800px;
    }
    .wrapper{
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: cover;
        background-position: left center;
        justify-content: center;
        .header{
            margin:30px 60px 0 60px;
            img{
                height:30px;
            }
        }
        .main{
            flex-grow: 1;
            margin:80px 60px;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .content{
                align-items: start;
              
                h1{
                    font-size: 3.5rem;
                    line-height: 4rem;
                }
                p{
                    text-align: start;
                    font-size: 1rem;
                    line-height: 1.75rem;
                }
                ::placeholder{
                    font-size: 1rem;
                }
                .input{
                    margin-bottom: 0;
                   button{
                       width:65px;
                   }
                }
              
            }
        }
    }

}

.form-control{
    width:90%;
    display:flex;
    align-items: center;
    small{
        position:absolute;
        bottom:-20px;
        left:20px;
        visibility: hidden;
    }
    .icon{
        position: absolute;
        right: 80px;
        visibility: hidden;
    }
}

.wrapper .main .content{
    .input{
        .form-control.error input{
            border-color: $second-color;
            
        }
        .form-control.error .icon{
            visibility: visible;
        }
        .form-control.error small{
            visibility: visible;
        }
    }
}










